/* Try different box model properties below */

.site-wrapper {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.site-header p {
  color: white;
  margin-bottom: 0.1rem;
}

.site-footer p {
  font-size: 12px;
  text-align: center;
}

.message:last-child {
  box-shadow: 4px 4px 0 #dba944;
}
